body {
    font-family: 'Oswald', sans-serif;
    width: 1920px;
}
button {
    width: 360px;
    height: 70px;
    background: #00E1BE;
    border-radius: 20px;
    border-color: #00E1BE;
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
    background: #5ac5c9;
}
p {
    color: #FCFCFC;
    margin: 0;
}
.p-green {
    color: #00E1BE;
}
.p-black {
    color: #001E1F;
}
.btn-midle {
    position: relative; 
    top: -140px;
}
.img-midle {
    position: relative; 
    top: -75px;
}

.frame-1 {
    background: #011913;
    height: 945px;
}
.square-1 { 
    background: #00E1BE;
    position: relative;
    top: 126px;
    height: 78px;
}
.frame1-inside {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-1 {
    position: relative;
    top: 35px;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frame-2 {
    background: #001E1F;
    height: 1277px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.square-2 { 
    background: #036060;
    position: relative;
    height: 206px;
    width: -webkit-fill-available;;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6em;
    text-align: center;
}
.text-2 {
    font-size: 3em;
}
.group-2 {
    text-align: center;
    font-size: 2em;
}

.frame-3 {
    background: #001E1F;
    height: 1082px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.group-3 { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1040px;
    font-size: 1.7em;
    font-weight: 500;
}

.frame-4 {
    background: #E0E0E0;
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.title-4 {
    padding-left: 300px;
    color: #001E1F;
    font-size: 5em;
    font-weight: bolder;
}

.frame-5 {
    background: #001E1F;
    height: 980px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.background-5 {
    position: absolute;
}
.group-5 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1055px;
}
.title-5 {
   font-size: 2em; 
   font-weight: bold; 
   margin-bottom: 15px;
}
.text-5 {
    font-size: 1.4em; 
    letter-spacing: 0.05em;
}

.frame-6 {
    background: #E0E0E0;
    height: 810px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}
.title-6 {
    font-size: 5em;
    font-weight: bolder;
    color: #001E1F;
}
.text-6-1 {
    font-size: 2em; 
    font-weight: bolder; 
    color: #000000;
}
.text-6-2 {
    font-size: 1.8em; 
    font-weight: 500;
    color: #000000;
}
.line {
    position: relative;
    top: 87px;
    right: 60px;
}

.frame-7 { 
    background: #001E1F;
    height: 637px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame-8 { 
    background: #E0E0E0;
    height: 627px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1025px) {
    body {
        width: 1024px;
    }
    .img-mq {
        width: 940px;
    }
    .img-midle {
        top: -95px;
    }
    .frame1-inside {
        left: 100px;
    }
    .img-1 {
        position: relative;
        right: 70px;
    }
    .text-2 {
        font-size: 2.5em;
    }
    .square-2 { 
        font-size: 2.1em;
    }
    .group-3 { 
        width: 940px;
    }
    .title-4 {
        font-size: 4em;
    }
    .group-5 {
        width: 940px;
    }
}